{% extends 'base.html' %}

{% block content %}

<section class="text-gray-800 bg-white body-font">
  <div class="container mt-24 mx-auto flex flex-wrap justify-between">
    <h2 class="text-3xl font-bold">List of agents available</h2>
    
    <a href="{% url 'agent_create' %}" class="inline-flex items-center text-white  bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Create New Agent
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
    </a>

  </div>  
  <div class="container px-5 pt-6 pb-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -m-4">
    {% for agent in agents %}
        <div class="p-4 lg:w-1/2 md:w-full">
            <div class="flex border-4 rounded-lg border-gray-800 border-opacity-50 p-8 sm:flex-row flex-col">
            <div class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
            </div>
            <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3"><a href="">{{agent.user.username}}</a></h2>
                <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>

                <a href="{% url 'agent_delete' agent.id %}" style="color: red;" class="inline-flex items-center border-2 border-gray-300 bg-white  py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Delete {{agent}}</a>

            </div>
            </div>

            <div class="flex justify-between mt-2">
                <a href="{% url 'agent_detail' agent.id %}" class="inline-flex items-center text-white  bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">View Agents
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>

                <a href="{% url 'agent_update' agent.id %}" class="inline-flex items-center border-2 border-gray-300 bg-white  py-1 px-3 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-base mt-4 md:mt-0">Update Agent
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
                
        </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock %}